extend ../layout/index

block content
 .p-5
    .table-section.p-4.rounded
      table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') Nom complet
            th(scope='col') Email
            th(scope='col') Departement
            th(scope='col') Actions
        tbody
          each user in users
            tr
              th(scope='row')=user.id
              td=user.nomComplet
              td=user.email
              td=user.departement.nomDepartement
              td 
                a.btn.btn-outline-success.py-0(type='submit' href=`/update/${user.id}`) Edit
                a.mx-3.btn.btn-outline-danger.py-0(type='submit' href=`/delete/${user.id}`) Del
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title New message
            button.close(type='button' data-bs-dismiss='modal' aria-label='Close') 
              span.fw-bold x
          .modal-body
            form
            form.form-new(action='/', method='post')
              .col-md-12.mb-3
                input#nomComplet.form-control(name='nomComplet' type='text' placeholder='Nom complet' )
              .col-md-12.mb-3
                input#password.form-control(name='password' type='password' placeholder='Password')
              .col-md-12.mb-3
                input#email.form-control(name='email' type='email' placeholder='Email')
              .col-md-12
                //- input#departementId.form-control(name='departementId' type='text' placeholder='Departement')
                select#departementId.form-select(name='departementId'  )
                  each departement in departements
                    option(value=`${departement.id}`)=departement.nomDepartement
              .d-grid.gap-2.col-6.mx-auto.mb-5.mt-4
                button.btn.btn-outline-info(type='submit') sauvegarder
          //- .modal-footer
          //-   button.btn.btn-outline-info(type='button') Send message
          
